:root {
  --base: #F3F4F1;
  --base_dark: #D3D6E1;
  --white:  rgb(214,214,214);
  --black: rgb(38,38,38);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--base_dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
}



* {
  margin: 0;
  padding: 0;
}
